<form action="/todo/add" method="POST">
    <input type="text" name="text" placeholder="Enter a new todo" required>
    <button type="submit">Add Todo</button>
</form>

<div class="todo-list">
    {{#each todos}}
    <div class="todo-item {{#if completed}}completed{{/if}}">
        <span>{{text}}</span>
        <form action="/todo/toggle/{{id}}" method="POST" style="display: inline;">
            <button type="submit">{{#if completed}}Undo{{else}}Complete{{/if}}</button>
        </form>
        <form action="/todo/delete/{{id}}" method="POST" style="display: inline;">
            <button type="submit">Delete</button>
        </form>
    </div>
    {{/each}}
</div>